* {
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
}

.corpo {
    background-color: white;
    margin-top: 3.5%;
    margin-bottom: 7%;
    padding-bottom: 10%;
}

.titulos {
    padding: 1.5%;
}

#tema {
    font-size: 20px;
    text-align: center;
}

#titulo {
    font-size: 70px;
    color: green;
    text-align: center;
}

.assunto {
    display: grid;
    grid-template-areas: "redacao imagens";
    grid-template-columns: 65% 35%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

.redacao {
    grid-area: redacao;
}

#redacao {
    font-size: 25px;
    text-align: justify;
}

.imagem {
    grid-area: imagens;
    margin-left: 5%;
}

#img1 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/ia.jpeg);
    height: 48%;
    background-size: cover;
}

#img2 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/ia.jpeg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img3 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img3.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img10 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img3.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

.linha {
    height: 1px;
    background-color: green;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

.card {
    display: flex;
    background: rgba(220, 205, 227, 1);
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 280px;
    width: 560px;
    border-radius: 10px;
    transition: all 0.5s;
    text-align: center;
}

#img8 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img10.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img6 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/Dia_Refugiado.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img12 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img1.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img11 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img4.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img4 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img5.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img7 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img11.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img5 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img6.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img9 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img7.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}

#img1 {
    border: 3px lightgray solid;
    border-radius: 10px;
    background-image: url(imagens/img8.jpg);
    height: 48%;
    margin-top: 10%;
    background-size: cover;
}