* {
  margin: 0%;
  padding: 0%;
  font-family: "Golos Text", sans-serif;
}
header {
  background: rgba(24, 125, 40, 1);
  height: 12vh;
}
body {
  background: rgba(255, 255, 255, 1);
  height: 60vh;
}
footer {
  background: rgba(24, 125, 40, 1);
  height: 18vh;
}
.card {
  display: flex;
  background: rgba(220, 205, 227, 1);
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 200px;
  width: 340px;
  border-radius: 10px;
  transition: all 0.5s;
  text-align: center;
}
.sub {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
.sub2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
.container {
  padding-top: 6vh;
  padding-bottom: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.title {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line div {
  margin-top: 20px;
  background: rgba(220, 205, 227, 1);
  height: 3px;
  width: 680px;
}
.card a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 26px;
  opacity: 0;
  transition: all 0.5s;
}
.card a:hover {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  font-size: 26px;
  padding: 20px;
  border-radius: 10px;
  opacity: 1;
  transition: all 0.5s;
}
.card:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.v1 {
  background-image: url(imagens/img14.jpg);
  background-size: cover;
}
.v2 {
  background-image: url(imagens/img6.jpg);
  background-size: cover;
}
.v3 {
  background-image: url(imagens/img10.jpg);
  background-size: cover;
}
.v4 {
  background-image: url(imagens/Dia_Refugiado.jpg);
  background-size: cover;
}
.v5 {
  background-image: url(imagens/img1.jpg);
  background-size: cover;
}
.v6 {
  background-image: url(imagens/img4.jpg);
  background-size: cover;
}
.v7 {
  background-image: url(imagens/img5.jpg);
  background-size: cover;
}
.v8 {
  background-image: url(imagens/img12.jpg);
  background-size: cover;
}
.v9 {
  background-image: url(imagens/img6.jpg);
  background-size: cover;
}
.v10 {
  background-image: url(imagens/img7.jpg);
  background-size: cover;
}
.v11 {
  background-image: url(imagens/img8.jpg);
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400.. 900&display=swap");
