body{
    font-family: "Montserrat", sans-serif;
    background-color: white;
    margin: 0;
}



p{
    padding: 20px;
    
}

h2{
    margin-top: 30px;
    text-align: center;
}

.header{
    width: 100%;
    height: 50px;
    background-color: green;
}

a{
    text-decoration: none;
    color: black;
}

.turmas{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-areas: "a b c"
                         "d e f"
                         "g h i"
                         "j k l"
                         "m n";
    
    grid-template-columns: 30% 30% 30%;   
    grid-auto-rows: 30% 30% 30% ;                 
}

.a{
    grid-area: a;
    border-radius: 15px;
    background-color: lightgray;
}

.b{
    margin-left: 20px;
    grid-area: b;
    border-radius: 15px;
    background-color: lightgray;
}

.c{
    margin-left: 20px;
    grid-area: c;
    border-radius: 15px;
    background-color: lightgray;
}

.d{
    
    grid-area: d;
    border-radius: 15px;
    background-color: lightgray;
}

.e{
    margin-left: 20px;
    grid-area: e;
    border-radius: 15px;
    background-color: lightgray;
}

.f{
    margin-left: 20px;
    grid-area: f;
    border-radius: 15px;
    background-color: lightgray;
}

.g{
    grid-area: g;
    border-radius: 15px;
    background-color: lightgray;
}

.h{
    margin-left: 20px;
    grid-area: h;
    border-radius: 15px;
    background-color: lightgray;
}

.i{
    margin-left: 20px;
    grid-area: i;
    border-radius: 15px;
    background-color: lightgray;
}

.j{
    grid-area: j;
    border-radius: 15px;
    background-color: lightgray;
}

.k{
    margin-left: 20px;
    grid-area: k;
    border-radius: 15px;
    background-color: lightgray;
}

.l{
    margin-left: 20px;
    grid-area: l;
    border-radius: 15px;
    background-color: lightgray;
}


.m{
    grid-area: m;
    border-radius: 15px;
    background-color: lightgray;
}

.n{
    margin-left: 20px;
    grid-area: n;
    border-radius: 15px;
    background-color: lightgray;
}


footer{
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    color: white;
    background-color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')